* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: poppins, sans-serif;
  background-color: white;
  max-width: 1400px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}
/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
  height: 80px;
}
nav .left h1 {
  font-size: 22px;
  font-weight: 600;
}
nav .right a {
  margin: 0 10px;
}
nav .right a:last-child {
  background-color: black;
  color: white;
  border: 2px solid black;
  padding: 5px 15px;
  border-radius: 5px;
}
nav .right a span {
  margin-left: 5px;
}
/* hero section */

.hero-section {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  margin: 50px 0;
  align-items: center;
  gap: 50px;
}
.hero-section .text h2 {
  font-size: 40px;
}
.hero-section .text p {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.6;
  color: #555;
}
.hero-section .link {
  margin-top: 30px;
}
.hero-section .link a {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 5px;
  margin-right: 5px;
}
.hero-section .link a:hover {
  background-color: rgb(212, 137, 137);
  color: white;
  transition: 0.3s;
}
.hero-section .photo img {
 width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  
}
/* skills section */

.skills-section {
  padding: 0 50px;
  margin-bottom: 100px;
}
.skills-section h2 {
  font-size: 36px;
  text-align: center;
}
.skills-section .text {
  text-align: center;
  margin-bottom: 20px;
}
.skills-section .cells {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.skills-section .cells .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 10px 20px;
  margin: 10px;
  border: 1.5px solid #f0f0f0;
  border-radius: 5px;
}
.skills-section .cells .cell img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
/* contact section */
.contact-section {
  padding: 0 50px;
  margin-bottom: 100px;
}
.contact-section h2 {
  font-size: 35px;
}
.contact-section .group {
  display: flex;
  gap: 60px;
}
.contact-section .group .text {
  flex: 1;
  margin-top: 20px;
}
.contact-section .group form {
  flex: 3;
  display: flex;
  flex-direction: column;
}
.contact-section .group form input,
.contact-section .group form textarea {
  font-family: poppins, sans-serif;
  border: 2px solid rgb(9, 116, 238);
  background-color: transparent;
  padding: 10px;
  margin-bottom: 15px;
  outline: none;
  resize: none;
}
.contact-section .group form button {
  font-size: 16px;
  font-family: poppins, sans-serif;
  color: white;
  background-color: rgb(9, 128, 233);
  border: none;
  height: 50px;
  cursor: pointer;
}
.contact-section .group form button:hover {
  background-color: rgb(9, 146, 231);
  transition: 0.3s;
}
.contact-section .group .text form {
  margin-right: 20px;
}
/* 1 */
@media (max-width: 800px) {
  .hero-section {
    flex-direction: column-reverse;
  }
  .hero-section .photo img {
    width: 250px;
  }
  .contact-section .group {
    flex-direction: column;
  }
  .links-section .span {
    display: none;
    flex-direction: column;
  }
}
/* 2 */
@media (max-width: 600px) {
  nav {
    padding: 0 20px;
  }
  nav .right a {
    font-size: 22px;
  }
  nav .right a:last-child {
    color: white;
    background-color: black;
    padding: 0 10px;
  }
  nav .right a span {
    display: none;
  }
}
