* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: white;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}
/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
  height: 80px;
}
nav .left h1 {
  font-size: 22px;
  font-weight: 600;
}
nav .right a {
  margin: 0 10px;
}
nav .right a:last-child {
  background-color: black;
  color: white;
  border: 2px solid black;
  padding: 5px 15px;
  border-radius: 5px;
}
nav .right a span {
  margin-left: 5px;
}
.right {
  display: flex;
  align-items: center;
}
.email-link {
  display: flex;
  align-items: center;
}
/* hero section */

.hero-section {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  margin: 50px 0;
  align-items: center;
  margin-bottom: 100px;
  gap: 40px;
}
.hero-section .text h2 {
  font-size: 40px;
  font-weight: 500;
}
.hero-section .text p {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.6;
}

.hero-section .photo img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

/* skills section */

.skills-section {
  padding: 0 50px;
  margin-bottom: 100px;
}
.skills-section h2 {
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}
.skills-section .text {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 18px;
}
.skills-section .cells {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.skills-section .cells .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 10px 20px;
  margin: 10px;
  border: 1.5px solid #f0f0f0;
  border-radius: 5px;
}
.skills-section .cells .cell img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
/* contact section */
.contact-section {
  padding: 0 50px;
  margin-bottom: 100px;
}
.contact-section h2 {
  font-size: 35px;
  font-weight: 500;
}
.contact-info p {
  margin-top: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}
.contact {
  display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 8px;
}

/* 1 */
@media (max-width: 800px) {
  .hero-section {
    flex-direction: column-reverse;
  }
  .hero-section .photo img {
    height: 200px;
    width: 200px;
  }
  .contact-section .group {
    flex-direction: column;
  }
  .links-section .span {
    display: none;
    flex-direction: column;
  }
  .hero-section .text h2 {
    font-size: 20px;
  }
}
/* 2 */
@media (max-width: 600px) {
  nav {
    padding: 0 20px;
  }

  nav .right a span {
    display: none;
  }
  nav .left h1 {
    font-size: 17px;
  }
  nav .right a:last-child {
    padding: 3px 8px;
    font-size: 12px;
  }
  .skills-section h2 {
    font-size: 20px;
  }
  .skills-section .cells .cell img {
    width: 15px;
    height: 15px;
    font-size: 10px;
  }
  .contact-section h2 {
    font-size: 20px;
  }
}
